<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ulka</title>
</head>
<body>
<div><span><a href="/profile">Profile</a></span><span style="padding-left: 5px;"><a href="/logout">Logout</a></span></div>
<div><img src="http://www.countryflags.io/{{ user.location }}/flat/64.png"></div>
<form action="/upload" method="post" enctype="multipart/form-data">
    {{ form }}
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="pHK2CZzBB323BM2Nq7DE2sxnQoBG1jPl" disabled="">
    <input type="submit" value="Upload"/>
    <div>{{ errors }}</div>

</form>
{% for file in files %}
    <div>
        <div>
            <a href="/file-info/{{ file.id }}"><img src="{{ file.file.url }}" width="50px"></a>
            {% for commend in file.commend_set.all %}
                <div>Admin: {{ commend.comment }}</div>
                <div>
                    {% if commend.reply %}
                        Replay: {{ commend.reply }}
                    {% else %}
                        <form action="/reply/{{ commend.id }}" method="post" >
                        {{ reply_form }}
                        {% csrf_token %}
                        <input type="hidden" name="csrfmiddlewaretoken" value="pHK2CZzBB323BM2Nq7DE2sxnQoBG1jPl"
                               disabled="">
                            <input type="submit" value="Replay"/>
                        </form>


                    {% endif %}

                </div>

            {% endfor %}

        </div>
    </div>

{% endfor %}
</body>
</html>